h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;

}
 nav{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
 }
#cards{
    width:100;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.carousel-item img {
    width: 100%;
  
    height: 700px;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: large;
    text-align: center;
}
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
}
.card-text{
    font-weight: 800;
}
.accordion{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: 900;
}